<div class="category-container" fxLayout="column" fxLayoutGap="0.3%">
    <div fxLayout="column" >
        <h1 class="category-header">Handcrafted Himalayan hippie goods just for you</h1>
        <h3 style="font-weight: 450; font-size: 20px; line-height: 28px; text-align: center;">Explore new products</h3>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="0.2%">
        <div fxFlex="48" fxLayoutGap="10%" fxFlex.lt-md="100" fxLayout="row" class="mat-cat-background" >
            <mat-card class="example-card">
                <img mat-card-image class="cat-image" src="../../assets/images/accessories.jpg" alt="Hippie Accessories">
                <mat-card-content>
                    <h4 class="card-title">Freak Hippie Accessories -></h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <img mat-card-image class="cat-image" src="../../assets/images/clothing.jpg" alt="Clothing">
                <mat-card-content>
                    <h4 class="card-title">Clothing -></h4>
        
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <img mat-card-image class="cat-image" src="../../assets/images/gifts.jpg" alt="Gifts">
                <mat-card-content>
                    <h4 class="card-title">Handmade Gifts -></h4>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="48" fxLayoutGap="10%" fxFlex.lt-md="100" fxLayout="row" class="mat-cat-background" >
            <mat-card class="example-card">
                <img mat-card-image class="cat-image" src="../../assets/images/tie-dye.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="card-title">Cool Tie Dyes -></h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <a href="#">
                    <img mat-card-image class="cat-image" src="../../assets/images/bags.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h4 class="card-title">Eco Bags -></h4>
            
                    </mat-card-content>
                </a>
                
            </mat-card>
            <mat-card class="example-card">
                <img mat-card-image class="cat-image" src="../../assets/images/wall.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="card-title">Wall Decor -></h4>
                </mat-card-content>
            </mat-card>
        </div>
        
        
    </div>

</div>

<div class="popular-container" fxLayout="column" fxLayoutGap="1%">
    <div fxLayout="column" >
        <h2 class="popular-header">Featured Hippies Favorites</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1%">
        <div fxFlex="46" fxLayoutGap="4%" fxFlex.lt-md="100" fxLayout="row" class="mat-popular-background-1" >
            <mat-card class="popular-card">
                <img mat-card-image class="popular-image" src="../../assets/images/popular-5.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="popular-card-title">Mandala wall decor</h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="popular-card">
                <img mat-card-image class="popular-image" src="../../assets/images/popular-4.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="popular-card-title">Buddhist beads</h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="popular-card">
                <img mat-card-image class="popular-image" src="../../assets/images/popular-3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="popular-card-title">Wall Decor </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="46" fxLayoutGap="4%" fxFlex.lt-md="100" fxLayout="row" class="mat-popular-background" >
            <mat-card class="popular-card">
                <img mat-card-image class="popular-image" src="../../assets/images/popular-1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="popular-card-title">Pure Hemp backpack handcrafted from Nepal</h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="popular-card">
                <img mat-card-image class="popular-image" src="../../assets/images/popular-2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="popular-card-title">Cool Hemp guitar bag</h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="popular-card">
                <img mat-card-image class="popular-image" src="../../assets/images/wall.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h4 class="popular-card-title">Wall Decor</h4>
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>

</div>

<div class="about-container" fxLayout="column">
    <div class="about-content">
        <h2 class="about-header">Who are we ?</h2>
        <a routerLink="/shop" routerLinkActive="active">Home</a>
    </div>
</div>



